.container {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
}

.product-item {
  width: 200px;
  height: 200px;
  margin: 20px;
  padding: 20px;
  border: 1px solid grey;
}

.product-item img {
  width: 150px;
}

.pagination-container {
  display: flex;
  justify-content: center;
}

.pageNo {
  margin: 10px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background: rgb(25, 121, 218);
}

.pageNo:hover {
  color: rgb(3, 56, 110);
  background: #ecf0f1;
}

.active {
  color: rgb(25, 121, 218);
  background: white;
}

.shiftPage {
  margin: 10px;
  padding: 10px;
  border: none;
  background: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: xx-large;
}
