.container {
  width: 80%;
  margin: 20px auto;
  height: 50vh;
  border: 1px solid gray;
}
.outer {
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px 20px;
}

.inner {
  background: green;
  height: 20px;
  transition: 0.5s ease-out;
  text-align: right;
  padding-right: 5px;
  border-radius: 10px;
  overflow: visible;
}
