.root-container {
    width: 80%;
    margin: auto;
    text-align: left;
}

.explorer-container {
    margin-top: 5px;
    padding-left: 20px;
}

.explorer-item {
    font-size: large;
    margin: 5px;
    padding: 2px;
}

.expand-btn {
    width: 20px;
    margin-right: 5px;
    padding: 0px 3px;
    font-size: large;
    cursor: pointer;
}

.option-btn {
    background: transparent;
    padding-top: 5px;
    border: none;
    cursor: pointer;
}

.option-icon {
    margin-left: 20px;
}