.container {
    width: 60%;
    margin: 20px auto;
    text-align: center;
    height: 50vh;
    border: 1px solid gray;
}

.block {
    margin: 20px;
}

.header{
    background: rgb(228, 223, 223);
    text-align: left;
    border-radius: 5px;
    height: 40px;
    padding: 0px 10px;
    cursor: pointer;
}

.header span {
    float: right;
    margin: 10px auto;
}

.content {
    font-size: medium;
    text-align: left;
    margin-top: 0px;
    padding: 0px 10px;
    border: 1px solid grey;
    border-radius: 5px;
}