.root-container {
    width: 80%;
    margin: auto;
    text-align: left;
}

.explorer-node-container {
    padding-left: 20px;
}

.explorer-node-container {
    margin: 10px;
    font-size: large;
}

.expand-btn {
    margin: 5px;
    font-weight: 700;
    font-size: large;
}

.add-btn {
    width: auto;
    padding: 5px;
    margin: 10px;
    background-color: rgb(4, 0, 255);
}

.remove-btn {
    width: auto;
    padding: 5px;
    margin: 10px;
    background-color: red;
    text-align: center;
}