.home {
    width: 50%;
    margin: 100px auto;
    text-align: center;
}

.navigation {
    display: flex;
    margin: 10px;
    padding: 5px;
    font-size: large;
    background: transparent;
    border: none;
    justify-content: center;
}
    

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 2 columns */
  grid-auto-rows: auto;
  gap: 12px 24px; /* row-gap column-gap */
}