.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
}

.product {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}

.product img {
    width: 100px;
    height: 100px;
}

.pagination-container {
    display: flex;
    width: 90%;
    justify-content: center;
}

.page-no-btn {
    width: 50px;
    height: 50px;
    background-color: rgb(26, 137, 222);
    color: white;
    margin: 5px;
    padding: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.page-no-btn:hover {
    background-color: white;
    color: rgb(26, 137, 222);
    border: 1px solid black;
    
}

.navigation-btn {
    width: 50px;
    height: 50px;
    font-size: x-large;
    margin: 5px;
    padding: 2px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: none;
}

.active-page-btn {
    background-color: white !important;
    color: rgb(26, 137, 222) !important;
    border: 1px solid black !important
}